<div class="header">
    <div class="header-content">
        <div class="title-group">
            <div class="logo-row">
                <svg class="logo" viewBox="0 0 160 160" xmlns="http://www.w3.org/2000/svg">
                     <path d="M147.883728,0H12C5.3725586,0,0,5.3726196,0,12v26c0,6.6274414,5.3725586,12,12,12h53.8650513L3.5147095,112.3502808C1.0344238,114.8305664-.1195068,118.1259766.0256958,121.3742065c-.0071411.1702271-.0256958.3375244-.0256958.5095215v26c0,6.6274414,5.3725586,12,12,12h26c.1224976,0,.2412109-.0146484.362793-.0183105,3.300293.1918945,6.6642456-.9597778,9.18573-3.4812622l108.8053589-108.8053589c2.4470215-2.4470215,3.6036987-5.6875,3.4952393-8.8931885.0129395-.2282104.0346069-.4541626.0346069-.6856079V12c0-6.6273804-5.3726196-12-12-12Z" fill="currentColor"/>
                     <rect x="109.8837138" y="109.8837451" width="50" height="50" rx="12" ry="12" fill="currentColor"/>
                </svg>
                <h1>Zen Status</h1>
            </div>
            <p>Complete SEO Auditing & Website Health Check</p>
        </div>
        <div class="theme-switcher">
            <button class="theme-btn" onclick="toggleThemeMenu()">
                <span class="color-dot" style="background: currentColor;"></span>
                Theme
            </button>
            <div class="theme-menu" id="themeMenu">
                <div class="theme-option" onclick="setTheme('default')">
                    <span class="color-dot" style="background: #0F4C81;"></span> Serenity
                </div>
                <div class="theme-option" onclick="setTheme('sage')">
                    <span class="color-dot" style="background: #768a73;"></span> Sage
                </div>
                <div class="theme-option" onclick="setTheme('rose')">
                    <span class="color-dot" style="background: #F7CAC9;"></span> Rose
                </div>
                <div class="theme-option" onclick="setTheme('midnight')">
                    <span class="color-dot" style="background: #38bdf8;"></span> Midnight
                </div>
            </div>
        </div>
    </div>
</div>
